:root {
    --main-color: #4c693c;
    --main-bg-color: #E9E6E0;
    --secondary-color: #ca154e;

    --text-secondary: #A85335;
    --text-color-white: #ffffff;
    --text-color-black: #000000;
}

body,
html {
    margin: 0;
    padding: 0;
    height: 100%;
    background-image: url('../img/Fond4.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

img{
    width: 100%;
    height: auto;
}

.section-main-title{
    font-size: 3rem;
    color: var(--text-secondary);
    width: 100%;
    height: auto;
    text-align: center;
    text-transform: uppercase;
}